<!DOCTYPE html>
  <head>
    <title>SDD Environment</title>
    <meta charset="utf-8">
    <style type="text/css">
      .code {
        font-family: monospace;
        background-color: #f6f6f2;
        border: 1px solid #CCC;
        padding: 10px;
        margin-bottom: .5em;
        list-style-type: none;
        width: 650px;
      }
    </style>
  </head>
  <body>
    <h1>SpotSeo Drupal environment info!</h1>
    <p>Hello, developer! This page contains basic information about the development environment.</p>
    <h2>Configured Sites</h2>
    <h3>Make sure that the sites are added to the <i>hosts</i> file:</h3>
    <p>If you installed the <a href="https://github.com/cogitatio/vagrant-hostsupdater" target="_blank">vagrant-hostsupdater</a> plugin from the instruction, then the <strong>hosts</strong> file should contain the following information:</p>
    <ul class="code">
      <li># Sites declared in SDD's config.json</li>
      <% @sites.each do |index, site| %>
        <%- if defined?(site['vhost']['url']) then -%>
          <li><%= node['vbox']['ip'] %> <%= site['vhost']['url'] %> </li>
        <%- end -%>
        <%- if defined?(site['vhost']['alias']) then -%>
          <%- site['vhost']['alias'].each do |vhostalias| -%>
            <li><%= node['vbox']['ip'] %> <%= vhostalias %> </li>
          <%- end -%>
        <%- end -%>
      <% end %>
      <li># End of sites declared with SDD</li>
    </ul>
    <ul>
      <% @sites.each do |index, site| %>
      <li>
       <%- if defined?(site['vhost']['url']) then -%>
         <a href="http://<%= site['vhost']['url'] %>" target="_blank"><%= site['site_name'] %></a> (Drush alias is @<%= index %>)
       <%- else -%>
         <a href="/<%= index %>" target="_blank"><%= site['site_name'] %></a> (Drush alias is @<%= index %>)
       <%- end -%>
      </li>
      <% end %>
    </ul>
    <h2>Development Tools</h2>
    <p>To verify the Mailcatcher, click on the "send testmail" - this script is simply send the test mail.</p>
    <ul>
      <li><a href="http://<%= node['vbox']['ip'] %>:1080/" target="_blank">MailCatcher</a><a href="/testmail.php" target="_blank"> (send testmail)</a></li>
      <li><a href="/phpmyadmin" target="_blank">phpMyAdmin</a></li>
      <li><a href="/phpinfo.php" target="_blank">phpinfo()</a></li>
    </ul>
    <h2>How To...</h2>
    <h4>Where can I find help?</h4>
    <p>Only God will help you...</p>
    <p>Still you can try to ask a question to code@spotseo.ru. Perhaps fate will smile ...</p>
    <h4>How to ssh into virtual machine?</h4>
    <p>Open your terminal (e.g. iTerm2 or Powershell) application and change to the directory with your SDD copy to "environment". Then simply execute next command:</p>
    <ol class="code">
      <li>$ vagrant ssh</li>
    </ol>
    <h4>How to get access to phpmyadmin & mysql?</h4>
    <p>Default MySQL root permission:</p>
    <p>login: root</p>
    <p>password: password</p>
    <h4>Simple MySQL dump</h4>
    <p>Navigate to your site root directory on the gues (example: /var/www/siteone) and run command:</p>
    <ol class="code">
      <li>$ drush sql-dump</li>
    </ol>
    <p>dump will be saved to the "/source/backup" folder on the host machine (make sure you have this folder beforehand)</p>
    <h4>Simple Site&MySQL dump</h4>
    <p>Run command on the guest:</p>
    <ol class="code">
      <li>$ drush @your-site-alias ard</li>
    </ol>
    <p>dump will be saved to the "/source/backup" folder on the host machine (make sure you have this folder beforehand)</p>
    <h4>Restore Site&MySQL dump with Drush</h4>
    <p>Run command on the guest:</p>
    <ol class="code">
      <li>$ drush arr ./[backup_name].tar.gz --destination=/var/www/[site_dir_name] --overwrite --db-url=mysql://root:password@127.0.0.1/[dbname]</li>
    </ol>
    <p>dump will be restored to the "/var/www/[site_dir_name]" folder (make sure you have this folder beforehand)</p>
    <p>&nbsp;</p>
  </body>
</html>
